name: Publish Tag

on: [push]

jobs:
  publish_tag:
    runs-on: ubuntu-latest
    name: A job to publish a tag to the GitHub repository
    steps:
      - name: Get the Latest Package Version 
        run: |
          echo "latest_version_number=$(git tag --sort=v:refname | tail -n 1)" >> $GITHUB_OUTPUT
        id: latest_package_version
      - name: Checkout
        uses: actions/checkout@v3
      - name: Get the New Package Version
        run: |
          IFS="=" read name value <<< $(cat ./VERSION)
          value=v${value}
          echo "newest_version_number=$value" >> $GITHUB_OUTPUT
        id: newest_package_version
      - name: Compare Two Version Numbers
        run: |
          echo ${{ steps.latest_package_version.outputs.latest_version_number }}
          echo ${{ steps.newest_package_version.outputs.newest_version_number }}
          if [[ "${{ steps.latest_package_version.outputs.latest_version_number }}" != "${{ steps.newest_package_version.outputs.newest_version_number }}" ]]
          then
            echo "comparison=${{ true }}" >> $GITHUB_OUTPUT
          fi
        id: comparison_result
      - name: Create and Push a Tag
        if: true == ${{ steps.comparison_result.outputs.comparison }}
        uses: ./.github/actions/action-tag-on-push/
        with:
          tag: "${{ steps.newest_package_version.outputs.newest_version_number }}"
          message: ""
