name: Publish Tag

on: [push]

jobs:
  publish_tag:
    runs-on: ubuntu-latest
    name: A job to publish a tag to the GitHub repository
    steps:
      - name: Get the Latest Package Version 
        run: |
          echo "latest_version_number=$(git tag --sort=v:refname | tail -n 1)" >> $GITHUB_OUTPUT
        id: latest_package_version
      - name: Checkout
        uses: actions/checkout@v3
      - name: Get the New Package Version
        run: |
          IFS="=" read name value <<< $(cat ./VERSION)
          echo "newest_version_number=$value" >> $GITHUB_OUTPUT
        id: newest_package_version
      - name: Create and Push a Tag
        uses: ./.github/actions/action-tag-on-push/
        with:
          tag: "v${{ steps.newest_package_version.outputs.newest_version_number }}"
          message: ""
        if: steps.latest_package_version.outputs.latest_version_number != "v${{ steps.newest_package_version.outputs.newest_version_number }}"
