name: Publish Tag

on: [push]

jobs:
  publish_tag:
    runs-on: ubuntu-latest
    name: A job to publish a tag to the GitHub repository
    steps:
      - name: Get the Latest Package Version 
        uses: oprypin/find-latest-tag@v1
        with:
          repository: $GITHUB_REPOSITORY
          releases-only: false
        id: last_package_version
      - name: Checkout
        uses: actions/checkout@v3
      - name: Get the New Package Version
        run: |
          IFS="=" read name value <<< $(cat ./VERSION)
          echo "version=$value" >> $GITHUB_OUTPUT
        id: new_package_version
      - name: Create and Push a Tag
        uses: ./.github/actions/action-tag-on-push/
        with:
          tag: "v${{ steps.new_package_version.outputs.version }}"
          message: ""
        if: steps.last_package_version.outputs.tag != "v${{ steps.new_package_version.outputs.version }}"
